h1{
    color:red;
    background-color: blueviolet;
}

h2{
    color: darksalmon;
    background-color: darkseagreen;
}

h3{
    color:blue;
    background-color: deeppink;
}

h4{
    color:green;
    background-color: blueviolet;
}

h5{
    color:green;
    background-color: yellow;
}